In [1]:
# Pandas DataFrames make manipulating your data easy, from selecting or replacing columns and indices to 
# reshaping your data.
# It helps with dealing with input data in CSV formats and with transforming your data into a form where it
# can be inputted into ML models
# We covers Pandas DataFrames, from basic manipulations to advanced operations



#Import module
import pandas as pd

#Loading the dataset
# dataset is in a CSV file, and the function we're going to use to read in the file is called pd.read_csv(). 
# This function returns a dataframe variable

df = pd.read_csv('/media/shashwat/33EFB20D0F6A6ECB/python presentation/diabetes - diabetes_null.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1

In [2]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
764,2,122.0,7.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,3,0
766,1,126.0,6.0,NaN,NaN,3.1,0.349,47,1
767,1,93.0,7.0,31.0,NaN,3.4,0.315,23,0

In [4]:
df.shape

(768, 9)

In [5]:
# We can also extract all the column names as a list, by using the columns attribute and can extract the rows
# with the index attribute
df.columns.tolist()

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [6]:
# In order to get a better idea of the type of data that we are dealing with, 
# we can call the describe() function to see statistics like mean, min, etc about each column of the dataset.
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,99.310616,55.706685,25.876155,105.659898,29.865654,0.490439,30.990885,0.348958
std,3.369578,55.115381,29.878852,12.967816,116.862508,10.686049,0.346050,13.281475,0.476951
min,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.100000,3.000000,0.000000
25%,1.000000,72.500000,16.000000,18.000000,21.000000,25.400000,0.253750,23.000000,0.000000
50%,3.000000,113.000000,66.000000,27.000000,71.000000,32.000000,0.382500,28.000000,0.000000
75%,6.000000,138.000000,76.000000,35.000000,151.000000,36.100000,0.647500,38.250000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
# The function max() will show you the maximum values of all columns
df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [9]:
# Then, if you'd like to specifically get the max value for a particular column, 
# you pass in the name of the column using the bracket indexing operator
df['BMI'].max()

67.1

In [11]:
#If we need to calculate the mean of a particular column
df['BMI'].mean()

29.86565389696167

In [12]:
#what if we want to know the index of row of the maximum value present in a particular column
#for that purpose we use argmax()
df['BMI'].argmax()

/home/shashwat/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  This is separate from the ipykernel package so we can avoid doing imports until

177

In [13]:
# value_counts() function shows how many times each item appears in the column
df['BMI'].value_counts()

32.0    13
31.6    12
31.2    12
33.3    10
32.4    10
32.9     9
32.8     9
3.1      9
3.8      9
33.6     8
34.2     8
29.7     8
25.9     7
27.8     7
35.5     7
3.4      7
27.6     7
28.7     7
3.0      7
33.2     7
3.5      7
39.4     7
25.2     6
38.5     6
24.2     6
28.9     6
34.3     6
28.4     6
34.9     6
32.5     6
        ..
42.8     1
46.7     1
67.1     1
39.6     1
3.7      1
38.3     1
44.6     1
36.7     1
22.3     1
45.4     1
45.7     1
24.5     1
46.5     1
33.5     1
32.2     1
21.7     1
59.4     1
21.2     1
32.6     1
4.2      1
43.1     1
49.6     1
36.2     1
26.3     1
4.8      1
19.3     1
46.3     1
49.3     1
3.2      1
57.3     1
Name: BMI, Length: 247, dtype: int64

In [15]:
ACCESSING 

# Select an Index or Column From a Pandas DataFrame
# Selecting data by row numbers (.iloc)
# Selecting data by label or by a conditional statment (.loc)

print(df.iloc[1][])

85.0

In [17]:
print(df.loc[1]['Glucose'])

85.0

In [18]:
df.iloc[:3]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,5,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1

In [19]:
#if we want the dataset with Glucose as sorted
df.sort_values('Glucose').head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
15,7,1.0,NaN,NaN,NaN,3.0,0.484,32,1
446,1,1.0,72.0,12.0,7.0,25.3,0.658,28,0
57,0,1.0,88.0,6.0,11.0,46.8,0.962,31,0
454,2,1.0,54.0,28.0,15.0,37.8,0.498,24,0
639,1,1.0,74.0,12.0,46.0,19.5,0.149,28,0

In [21]:
#filtering data
df[df['Age'] > 30]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
4,0,137.0,4.0,35.0,168.0,43.1,2.288,33,1
8,2,197.0,7.0,45.0,543.0,3.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,8.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,6.0,23.0,846.0,3.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,1.0,NaN,NaN,NaN,3.0,0.484,32,1
16,0,118.0,84.0,47.0,23.0,45.8,0.551,31,1
17,7,17.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,13.0,3.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,7.0,3.0,96.0,34.6,0.529,32,1
22,7,196.0,9.0,NaN,NaN,39.8,0.451,41,1
24,11,143.0,94.0,33.0,146.0,36.6,0.254,51,1
25,10,125.0,7.0,26.0,115.0,31.1,0.250,41,1
26,7,147.0,76.0,NaN,NaN,39.4,0.257,43,1
28,13,145.0,82.0,19.0,11.0,22.2,0.245,57,0
29,5,117.0,92.0,NaN,NaN,34.1,0.337,38,0
34,10,122.0,78.0,31.0,NaN,27.6,0.512,45,0
35,4,13.0,6.0,33.0,192.0,24.0,0.966,33,0
36,11,138.0,76.0,NaN,NaN,33.2,0.420,35,0
37,9,12.0,76.0,37.0,NaN,32.9,0.665,46,1
39,4,111.0,72.0,47.0,27.0,37.1,1.390,56,1
41,7,133.0,84.0,NaN,NaN,4.2,0.696,37,0
42,7,16.0,92.0,18.0,NaN,22.7,0.235,48,0
43,9,171.0,11.0,24.0,24.0,45.4,0.721,54,1
48,7,13.0,66.0,32.0,NaN,39.1,0.344,31,1
53,8,176.0,9.0,34.0,3.0,33.7,0.467,58,1
...,...,...,...,...,...,...,...,...,...
712,10,129.0,62.0,36.0,NaN,41.2,0.441,38,1
714,3,12.0,74.0,NaN,NaN,29.5,0.121,32,0
715,7,187.0,5.0,33.0,392.0,33.9,0.826,34,1
716,3,173.0,78.0,39.0,185.0,33.8,0.970,31,1
717,10,94.0,72.0,18.0,NaN,23.1,0.595,56,0
719,5,97.0,76.0,27.0,NaN,35.6,0.378,52,1
720,4,83.0,86.0,19.0,NaN,29.3,0.317,34,0
722,1,149.0,68.0,29.0,127.0,29.3,0.349,42,1
723,5,117.0,86.0,3.0,15.0,39.1,0.251,42,0
724,1,111.0,94.0,NaN,NaN,32.8,0.265,45,0
725,4,112.0,78.0,4.0,NaN,39.4,0.236,38,0
730,3,13.0,78.0,23.0,79.0,28.4,0.323,34,1
734,2,15.0,75.0,NaN,NaN,23.3,0.560,53,0
737,8,65.0,72.0,23.0,NaN,32.0,0.600,42,0
739,1,12.0,74.0,NaN,NaN,39.5,0.293,42,1
740,11,12.0,8.0,37.0,15.0,42.3,0.785,48,1
743,9,14.0,94.0,NaN,NaN,32.7,0.734,45,1
744,13,153.0,88.0,37.0,14.0,4.6,1.174,39,0
745,12,1.0,84.0,33.0,15.0,3.0,0.488,46,0
747,1,81.0,74.0,41.0,57.0,46.3,1.960,32,0
748,3,187.0,7.0,22.0,2.0,36.4,0.480,36,1
754,8,154.0,78.0,32.0,NaN,32.4,0.443,45,1
755,1,128.0,88.0,39.0,11.0,36.5,1.570,37,1
756,7,137.0,9.0,41.0,NaN,32.0,0.391,39,0
757,0,123.0,72.0,NaN,NaN,36.3,0.258,52,1
759,6,19.0,92.0,NaN,NaN,35.5,0.278,66,1
761,9,17.0,74.0,31.0,NaN,44.0,0.430,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
763,10,11.0,76.0,48.0,18.0,32.9,0.171,63,0
766,1,126.0,6.0,NaN,NaN,3.1,0.349,47,1